 
 

<title>M-Qua</title>

<!-- Material design icons CSS -->
<link rel="stylesheet" href="<?php echo base_url()?>system/cms/themes/default/vendor/materializeicon/material-icons.css">

<!-- Roboto fonts CSS -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="<?php echo base_url()?>system/cms/themes/default/vendor/bootstrap-4.4.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Swiper CSS -->
<link href="<?php echo base_url()?>system/cms/themes/default/vendor/swiper/css/swiper.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="<?php echo base_url()?>system/cms/themes/default/css/style.css" rel="stylesheet">
