<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
<!-- BEGIN Page Footer -->
<!-- BEGIN Page Footer -->
<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700">2020 ©  V.1 </span>
    </div>
    <div>
        <ul class="list-table m-0">
            </ul>
    </div>
</footer>
<!-- END Page Footer -->
<!-- END Page Footer -->
<!-- BEGIN Shortcuts -->
<!-- BEGIN Shortcuts -->
<div class="modal fade modal-backdrop-transparent" id="modal-shortcut" tabindex="-1" role="dialog" aria-labelledby="modal-shortcut" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="app-list w-auto h-auto p-0 text-left">
                    <li>
                        <a href="admin" class="app-list-item text-white border-0 m-0">
                            <div class="icon-stack">
                                <i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
                                <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                <i class="fal fa-home icon-stack-1x opacity-100 color-white"></i>
                            </div>
                            <span class="app-list-name">
                                Home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/logout" class="app-list-item text-white border-0 m-0">
                            <div class="icon-stack">
                                <i class="base base-7 icon-stack-3x opacity-100 color-success-500 "></i>
                                <i class="base base-7 icon-stack-2x opacity-100 color-success-300 "></i>
                                <i class="ni ni-envelope icon-stack-1x text-white"></i>
                            </div>
                            <span class="app-list-name">
                                Logout
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_introduction.html" class="app-list-item text-white border-0 m-0">
                            <div class="icon-stack">
                                <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                <i class="fal fa-plus icon-stack-1x opacity-100 color-white"></i>
                            </div>
                            <span class="app-list-name">
                                Add More
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END Shortcuts -->
<!-- END Shortcuts -->
                </div>
            </div>
        </div>
        <!-- END Page Wrapper -->
        <!-- BEGIN Quick Menu -->
<!-- BEGIN Quick Menu -->
<!-- to add more items, please make sure to change the variable '$menu-items: number;' in your _page-components-shortcut.scss -->
 
<!-- END Quick Menu -->
<!-- END Quick Menu -->
<!-- BEGIN Colors -->
<!-- BEGIN Color profile -->
<!-- this area is hidden and will not be seen on screens or screen readers -->
<!-- we use this only for CSS color refernce for JS stuff -->
 
<!-- END Color profile -->
<!-- END Colors -->
<!-- BEGIN Messenger -->
<!-- BEGIN Messenger -->
 
<!-- END Messenger -->
<!-- END Messenger -->
<!-- BEGIN Page Settings -->
<!-- BEGIN Page Settings -->
 

<!-- modal alert -->
<div class="modal  fade" id="main-modal"   role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-primary-700 ">
                                                            <h4 class="modal-title" id="main-title">
                                                                
                                                            </h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" id="main-body">
													  
															 
                                                        </div>
                                                        <div class="modal-footer">
														
													   <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/vendors.bundle.js"></script>
<script src="<?php echo base_url(); ?>system/cms/themes/admin/js/app.bundle.js"></script>
       
        <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/dependency/moment/moment.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/statistics/sparkline/sparkline.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/statistics/easypiechart/easypiechart.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/statistics/flot/flot.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/miscellaneous/jqvmap/jqvmap.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/formplugins/select2/select2.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/function.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/datagrid/datatables/datatables.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/notifications/toastr/toastr.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="<?php echo base_url(); ?>system/cms/themes/admin/js/formplugins/dropzone/dropzone.js"></script>
        <script src="<?php echo base_url(); ?>assets/js/highcharts.js"></script>
        <script src="<?php echo base_url(); ?>assets/js/data.js"></script>
        <script src="<?php echo base_url(); ?>assets/js/exporting.js"></script> 
        <?php echo $template['metadata']; ?> 