<header id="header" class="transparent-header dark full-header no-sticky">
	<div id="header-wrap">
	<div class="container clearfix">
		<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
	
	<div id="logo">
	<a href="<?php echo base_url()?>" class="standard-logo" data-dark-logo="<?php echo base_url()?>assets/images/logo-header.png"><img src="<?php echo base_url()?>assets/images/logo.png" alt="Canvas Logo"></a>
	<a href="<?php echo base_url()?>" class="retina-logo" data-dark-logo="<?php echo base_url()?>assets/images/logo-header.png"><img src="<?php echo base_url()?>assets/images/logo-header.png" alt="Canvas Logo"></a>
	</div>
	
	<nav id="primary-menu">
		
	<ul> 
	
	</li>
   
		{{ navigation:links group="sidebar" }}
	
		<?php if(($this->current_user)){?>
		<li><a href="<?php echo base_url()?>admin" >Admin</a></li>
		<li><a href="./users/logout" >Logout</a></li>
		<li><a href="#" >ID Anggota: <?php echo $this->current_user->id?></a></li> 
		<?php }else{?>
			<li><a href="<?php echo base_url()?>users/login">Login</a></li>
			<li>  <a href="<?php echo base_url()?>users/pendaftaran" >Pendaftaran</a></li>
			<li> <a href="<?php echo base_url()?>users/login" >Lupa Password</a></li>
			<?php }?>
			
	</ul>
	
	<div id="top-cart">
	<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
	<div class="top-cart-content">
	<div class="top-cart-title">
	<h4>Shopping Cart</h4>
	</div>
	<div class="top-cart-items">
	<div class="top-cart-item clearfix">
	<div class="top-cart-item-image">
	<a href="#"><img src="images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
	</div>
	<div class="top-cart-item-desc">
	<a href="#">Blue Round-Neck Tshirt</a>
	<span class="top-cart-item-price">$19.99</span>
	<span class="top-cart-item-quantity">x 2</span>
	</div>
	</div>
	<div class="top-cart-item clearfix">
	<div class="top-cart-item-image">
	<a href="#"><img src="images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
	</div>
	<div class="top-cart-item-desc">
	<a href="#">Light Blue Denim Dress</a>
	<span class="top-cart-item-price">$24.99</span>
	<span class="top-cart-item-quantity">x 3</span>
	</div>
	</div>
	</div>
	<div class="top-cart-action clearfix">
	<span class="fleft top-checkout-price">$114.95</span>
	<button class="button button-3d button-small nomargin fright">View Cart</button>
	</div>
	</div>
	</div>
	
	<div id="top-search">
	<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
	<form action="http://themes.semicolonweb.com/html/canvas/search.html" method="get">
	<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
	</form>
	</div>
	</nav>
	</div>
	</div>
	</header>