 
 
<title>{{ template:title }}</title>

<base href="<?php echo base_url(); ?>" />

<!-- Mobile viewport optimized -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->


<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/vendors.bundle.css">
<link id="appbundle" rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/app.bundle.css">
<link id="mytheme" rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/mytheme.css">
<link id="myskin" rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/skins/skin-master.css">

<link rel="stylesheet" href="<?php echo base_url(); ?>system/cms/themes/admin/css/markdown.css" />
<link rel="stylesheet" href="<?php echo base_url(); ?>system/cms/themes/admin/css/miscellaneous/reactions/reactions.css" />
<link rel="stylesheet" href="<?php echo base_url(); ?>system/cms/themes/admin/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" />
<link rel="stylesheet" href="<?php echo base_url(); ?>system/cms/themes/admin/css/miscellaneous/jqvmap/jqvmap.bundle.css" /> 
<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/notifications/toastr/toastr.css">

<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/notifications/sweetalert2/sweetalert2.bundle.css">
<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/formplugins/select2/select2.bundle.css">
<!-- End CSS-->
<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/datagrid/datatables/datatables.bundle.css">
<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" media="screen, print" href="<?php echo base_url(); ?>system/cms/themes/admin/css/formplugins/dropzone/dropzone.css">

<!-- Load up some favicons -->
<link rel="shortcut icon" href="favicon.ico"> 

<!-- metadata needs to load before some stuff --> 
