 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="PyroCMS Dev Team" />
<meta name="copyright" content="PyroCMS LLC" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>My App</title> 

<!-- Begin stylesheets --> 


<link rel="stylesheet" href="system/cms/themes/default/css/framework7.ios.min.css" /> 
<link rel="stylesheet" href="system/cms/themes/default/css/my-app.css" />  
<!-- End stylesheets -->